<div class="small-container">
  <div class="users">
    <h1>Sign up</h1>

    <div class="users-form-wrapper">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <div class="password-guide">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <small>(<%= @minimum_password_length %> characters
                minimum)</small>
            <% end %>
          </div>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" unless user_signed_in? %>
    </div>
  </div>
</div>