<%= form_with model: listing do |form| %>
  <% if form.object.errors.any? %>
    <ul>
      <% form.object.errors.full_messages_for(:bedrooms).each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, autofocus: "autofocus" %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </div>

  <div>
    <%= form.label :images %>
    <%= form.file_field :images, accept: "image/*", multiple: true %>
  </div>

  <div>
    <%= form.label :rent_amount %>
    <%= form.number_field :rent_amount, step: "0.01", min: 0 %>
  </div>
  <div class="numbers-inputs">
    <div>
      <%= form.label :bedrooms %>
      <%= form.number_field :bedrooms, step: "1", min: 0 %>
    </div>
    <div>
      <%= form.label :bathrooms %>
      <%= form.number_field :bathrooms, step: "1", min: 0 %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
