<div class="wide-container">
  <div class="listing">
    <h1>All listings</h1>
    <%= link_to "New listing", new_listing_path if user_signed_in? %>
    <div class="cards-container">
      <% @listings.each do |listing| %>
        <div class="card">
          <%= link_to listing do %>
            <div class="image-wrapper">
              <%= image_tag listing.images.first %>
            </div>
            <h2><%= truncate(listing.title, length: 36) %></h2>
          <% end %>
          <h3><%= number_to_currency(listing.rent_amount,
                                     precision: 2,
                                     delimiter: ",",
                                     separator: ".",
                                     unit: "Ksh ") %> per month</h3>
          <div class="bath-and-bedrooms">
            <p><%= listing.bedrooms %> Bedrooms</p>
            <p><%= listing.bathrooms %> Bathrooms</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>