<div class="container">
  <div class="listing">
    <h1><%= @listing.title %></h1>
    <p><%= @listing.description %></p>

    <div>
      <% if @listing.images.attached? %>
        <%= render_grouped_images(@listing.images) %>
      <% else %>
        <p>Listing has no images</p>
      <% end %>
      <%= link_to "Edit listing", edit_listing_path if user_signed_in? %>
      <%= button_to "Delete listing", @listing, method: :delete, data: {
        turbo_confirm: "Are you sure?" } if user_signed_in? %>
    </div>
  </div>
</div>